/*
General form:

CSS Selector {
    attribute_name: attribute_value;
}

*/

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: green;
    text-align: right;
}

#sh3 {
    color: blue;
}

.red_header {
    color: red;
}